@import "tailwindcss";

html {
  background-color: black;
}

@theme {
  --color-p_0: #2dd76a;
  --color-p_01: #1db954;
  --color-p_02: #1aa34a;

  --color-bg_0: #0f0f0f;
  --color-bg_01: #111111;
  --color-bg_02: #222222;
  --color-bg_03: #333333;

  --color-fg_0: #454545;
  --color-fg_01: #555555;
  --color-fg_02: #676767;
  --color-fg_03: #888888;
}

.progressBar {
  appearance: none;
  -webkit-appearance: none;
}

.progressBar:hover {
  appearance: none;
  -webkit-appearance: none;
  accent-color: var(--color-p_0);
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  visibility: hidden;
}

.progressBar::-moz-range-thumb {
  visibility: hidden;
}

.progressBar::-webkit-slider-thumb:hover {
  -webkit-appearance: auto;
  visibility: visible;
}

.progressBar::-moz-range-thumb:hover {
  visibility: visible;
}
